
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amiri';
  src: url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
}


.font-arabic {
  font-family: 'Amiri', serif;
}

.font-noto-kufi {
  font-family: 'Noto Kufi Arabic', sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

[data-gsap] {
  visibility: hidden;
}

.decorative-sidebar {
  background-image: url('https://images.unsplash.com/photo-1542816417-0983c9c9ad53?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-size: 200px auto;
  opacity: 0.15;
  background-position: center;
}